/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1540px) {
.container-fluid {
	padding: 0 35px;
}
.menu {
	margin: 0 30px;
}
.phone-main {
	font-size: 16px;
}
.header__wrap .list-icons {
    margin-right: 25px;
}
.list-icons li {
    margin-right: 10px;
}
.header__wrap .btn-page {
    margin-left: 15px;
}
.menu a {
    font-size: 15px;
    line-height: 28px;
}
.logo-descr {
	margin-left: 15px;
}
.header__wrap .btn-page {
	padding: 0 20px;
}
.logo img {
    max-width: 145px;
    }
    .logo-descr {
    font-size: 12px;
    line-height: 15px;
    max-width: 100px;
}
.descr-billbord,
.title-billbord {
    font-size: 24px;
    line-height: 33px;
    }
    .title-big {
    font-size: 50px;
    line-height: 69px;
    margin-bottom: 15px;
}
.descr-billbord {
    margin-bottom: 55px;
}
.item-billbord {
    padding-top: 160px;
    min-height: 750px;
    }
    .info-billbord {
    padding: 33px 30px;
    padding-bottom: 15px;
    font-size: 19px;
    line-height: 27px;
    max-width: 885px;
}
.info-billbord ul li {
    padding-left: 35px;
    margin-bottom: 33px;
    }
}
@media only screen and (max-width : 1400px) {

}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1400px) {
	.container {
		max-width: 1380px;
	}
}
@media (min-width: 1540px) {
	.container {
		max-width: 1470px;
	}
}